<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DICA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="static/assets/img/apple-icon.png" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="static/assets/img/Logofavicon.ico"
    />

    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/assets/css/templatemo.css" />
    <link rel="stylesheet" href="static/assets/css/custom.css" />

    <!-- Load fonts style after rendering the layout styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="static/assets/css/fontawesome.min.css" />
    <!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
  </head>

  <body>
    <!-- ESTO ES LA BARRITA NEGRA DE ARRIBA, MEJOR LO PONEMOS EN CONTACTO xd -->

    <!-- Start Top Nav -->
    <!-- <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav> -->
    <!-- Close Top Nav -->

    {% include '_header.html' %}

    <!-- Start Banner Hero -->
    <div
      id="template-mo-zay-hero-carousel"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-bs-target="#template-mo-zay-hero-carousel"
          data-bs-slide-to="0"
          class="active"
        ></li>
        <li
          data-bs-target="#template-mo-zay-hero-carousel"
          data-bs-slide-to="1"
        ></li>
        <li
          data-bs-target="#template-mo-zay-hero-carousel"
          data-bs-slide-to="2"
        ></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img
                  class="img-fluid"
                  src="static/assets/img/tomahawk.png"
                  alt=""
                />
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                  <h1 class="h1 text-success">
                    <b>Plataforma Integral</b> para el Sector Alimenticio
                  </h1>
                  <h3 class="h2">
                    Gestión Inteligente de Pedidos e Inventarios
                  </h3>
                  <p>
                    Nuestra página web es una herramienta esencial para negocios
                    de comida y distribuidores. Permite visualizar catálogos de
                    productos, realizar pedidos y gestionar inventarios de
                    manera eficiente, impulsando la exposición de los
                    proveedores a un mercado diversificado.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img
                  class="img-fluid"
                  src="static/assets/img/tacogour.png"
                  alt=""
                />
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left">
                  <h1 class="h1">
                    Conexión Eficiente en la Industria Alimentaria
                  </h1>
                  <h3 class="h2">Intermediación Innovadora y Confiable</h3>
                  <p>
                    Distribuciones Incorporadas César y Asociados (DICA)
                    revoluciona la cadena de suministro alimentaria al conectar
                    de
                    <strong>forma dinámica</strong> a restaurantes, cafeterías,
                    bares y otros negocios de comida con una amplia red de
                    proveedores locales y nacionales. Garantizamos productos
                    frescos y de alta calidad, optimizando costos y tiempos de
                    entrega.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img
                  class="img-fluid"
                  src="static/assets/img/veggies.png"
                  alt=""
                />
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left">
                  <h1 class="h1">
                    Soluciones Personalizadas para Negocios de Comida
                  </h1>
                  <h3 class="h2">
                    Servicios Especializados para Cada Necesidad
                  </h3>
                  <p>
                    En DICA ofrecemos seguimiento de pedidos y atención al
                    cliente personalizada. Esto fortalece la relación entre
                    productores y clientes, promoviendo una cadena de suministro
                    sostenible y transparente, ideal para negocios grandes,
                    medianos y pequeños.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        class="carousel-control-prev text-decoration-none w-auto ps-3"
        href="#template-mo-zay-hero-carousel"
        role="button"
        data-bs-slide="prev"
      >
        <i class="fas fa-chevron-left"></i>
      </a>
      <a
        class="carousel-control-next text-decoration-none w-auto pe-3"
        href="#template-mo-zay-hero-carousel"
        role="button"
        data-bs-slide="next"
      >
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
    <!-- End Banner Hero -->

    <!-- Start Categories of The Month -->
    <section class="container py-5">
      <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
          <h1 class="h1">¡Lo nuevo este mes!</h1>
          <p>
            ¡Conoce las novedades de este mes y pídelos para tu negocio o
            evento!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"
            ><img
              src="static/assets/img/category_img_01.jpg"
              class="rounded-circle img-fluid border"
          /></a>
          <h5 class="text-center mt-3 mb-3">Mezcla Campechana</h5>
          <p class="text-center">
            <a href=" {{url_for('shop') }}" class="btn btn-success"
              >Compra ahora</a
            >
          </p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"
            ><img
              src="static/assets/img/category_img_02.jpg"
              class="rounded-circle img-fluid border"
          /></a>
          <h2 class="h5 text-center mt-3 mb-3">Calabazas Otoñales</h2>
          <p class="text-center">
            <a href=" {{url_for('shop') }}" class="btn btn-success"
              >Compra ahora</a
            >
          </p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
          <a href="#"
            ><img
              src="static/assets/img/category_img_03.jpg"
              class="rounded-circle img-fluid border"
          /></a>
          <h2 class="h5 text-center mt-3 mb-3">Quesos Gourmet</h2>
          <p class="text-center">
            <a href=" {{url_for('shop') }}" class="btn btn-success"
              >Compra ahora</a
            >
          </p>
        </div>
      </div>
    </section>
    <!-- End Categories of The Month -->

    <!-- Start Featured Product -->
    <section class="bg-light">
      <div class="container py-5">
        <div class="row text-center py-3">
          <div class="col-lg-6 m-auto">
            <h1 class="h1">¡Los más vendidos!</h1>
            <p>
              Llévate nuestros productos más pedidos por nuestros clientes.
              ¡Disfruta de los favoritos!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href=" {{url_for('shop_single')}} ">
                <img
                  src="static/assets/img/feature_prod_01.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">$2400.00</li>
                </ul>
                <a
                  href="{{url_for('shop_single')}}"
                  class="h2 text-decoration-none text-dark"
                  >Agujas de Res</a
                >
                <p class="card-text">
                  Deliciosas agujas de res, ideales para tu siguiente parrillada
                  con tu familia y amigos.
                </p>
                <p class="text-muted">Reseñas (24)</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="{{url_for('shop_single')}}">
                <img
                  src="static/assets/img/feature_prod_02.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                    <i class="text-muted fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">$1800.00</li>
                </ul>
                <a
                  href="{{url_for('shop_single')}}"
                  class="h2 text-decoration-none text-dark"
                  >Jitomates Importados</a
                >
                <p class="card-text">
                  Variedad de jitomates, ideales para acompañar tus alimentos
                  diarios de diversas maneras.
                </p>
                <p class="text-muted">Reseñas (48)</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="{{url_for('shop_single')}}">
                <img
                  src="static/assets/img/feature_prod_03.jpg"
                  class="card-img-top"
                  alt="..."
                />
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">$3600.00</li>
                </ul>
                <a
                  href="{{url_for('shop_single')}}"
                  class="h2 text-decoration-none text-dark"
                  >Mariscada</a
                >
                <p class="card-text">
                  Mezcla variada de diferentes mariscos, camarón, pulpo, filetes
                  de tilapia, langostinos y ostiones. ¡Todos frescos!
                </p>
                <p class="text-muted">Reseñas (74)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Featured Product -->

    <!-- FOOTER -->
    <!-- Como el footer es el mismo en todas las paginas ps mejor lo ponemos
     en un archivo aparte xd -->
    {% include '_footer.html' %}

    <!-- Start Script -->
    <script src="static/assets/js/jquery-1.11.0.min.js"></script>
    <script src="static/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/templatemo.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <!-- End Script -->
  </body>
</html>
