<!DOCTYPE html>
<html lang="en">

<!-- PRODUCTOS SIMPLES -->

<head>
    <title>DICA - Detalles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="static/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="static/assets/img/favicon.ico">

    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/templatemo.css">
    <link rel="stylesheet" href="static/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="static/assets/css/fontawesome.min.css">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="static/assets/css/slick-theme.css">
<!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>

    {% include '_header.html' %}

    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="static/assets/img/trompo.jpeg" alt="Card image cap" id="product-detail">
                    </div>
                    
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">TROMPO</h1>
                            <p class="h3 py-2">$15000.0</p>

                            <h6>Trompo al pastor:</h6>
                            <p>Delicioso oso, rico pastor sabroso</p>

                            <h6>Specification:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>Trompo al pastor de 50kg</li>
                                <li>Limones mas secos que tu ex</li>
                                <li>Sal al gusto</li>
                                <li>Cilantro y cebolla en el diente</li>
                                <li>Para 8 a 10 personas</li>
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                    </div>
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Add To Cart</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->


    <!-- Start Footer -->
    {% include '_footer.html' %}
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="static/assets/js/jquery-1.11.0.min.js"></script>
    <script src="static/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/js/templatemo.js"></script>
    <script src="static/assets/js/custom.js"></script>
    <!-- End Script -->

    <!-- Start Slider Script -->
    <script src="static/assets/js/slick.min.js"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });
    </script>
    <!-- End Slider Script -->

</body>

</html>